@font-face {
	font-family: 'PokerFont';
	src: url('PokerFont.woff2') format('woff2'),
		url('PokerFont.woff') format('woff');
}
	
	.card-animation {
  animation: pullCardAnimation 1s ease-in-out;
}

@keyframes pullCardAnimation {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
	
#gameBody {
	background-image: url('startMenuBackground.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
	
#dealerHand {
    display: flex;
    justify-content: center;
	align-items: flex-start;
	position: absolute;
	bottom: 90px;
}
	
#playerHand {
    display: flex;
    justify-content: center;
	align-items: flex-start;
	position: absolute;
	top: 90px;
}

#playerHand img, #dealerHand img {
    width: 195px; 
    margin: 15px;
}
	
#dealerPoints {
	position: absolute;
	bottom: 25px;
	left: 10px;
}
	
#playerPoints {
	position: absolute;
	top: 25px;
	left: 10px;
}
	
.score {
	-webkit-text-stroke: 1px black;
	text-shadow:
       3px 3px 0 #000,
       -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
       1px 1px 0 #000;
	padding: 0;
	border: none;
	background: none;
	font-family: "PokerFont", sans-serif;
	color: white;
	font-size: 30px;
	text-decoration: none;
 }
  
  /* I cant get this button centered for some reason, I think this webkit thing messed it all up but oh well I got it close enough */
#dealButton {
  -webkit-text-stroke: 2px black;
	background: #ff1212;
	background-image: -webkit-linear-gradient(top, #ff1212, #9e2929);
	background-image: -moz-linear-gradient(top, #ff1212, #9e2929);
	background-image: -ms-linear-gradient(top, #ff1212, #9e2929);
	background-image: -o-linear-gradient(top, #ff1212, #9e2929);
	background-image: linear-gradient(to bottom, #ff1212, #9e2929);
	-webkit-border-radius: 37;
	-moz-border-radius: 37;
	border-radius: 37px;
	font-family: "PokerFont", sans-serif;
	color: #b5b5b5;
	font-size: 200px;
	text-decoration: none;
	transition: font-size 0.3s ease;
	position: fixed;
	bottom: 40%;
	left: 35%;
}
#dealButton:hover {
	font-size: 225px;
	transform: translate(0, 0);
	bottom: 40%;
	left: 35%;
}
  
#stayButton {
   position: absolute;
   bottom: 10px;
   right: 10px;
}
   
#hitButton {
   position: absolute;
   top: 10px;
   right: 10px;
}
	
.button {
	-webkit-text-stroke: 2px black;
	background: #ff1212;
	background-image: -webkit-linear-gradient(top, #ff1212, #9e2929);
	background-image: -moz-linear-gradient(top, #ff1212, #9e2929);
	background-image: -ms-linear-gradient(top, #ff1212, #9e2929);
	background-image: -o-linear-gradient(top, #ff1212, #9e2929);
	background-image: linear-gradient(to bottom, #ff1212, #9e2929);
	-webkit-border-radius: 37;
	-moz-border-radius: 37;
	border-radius: 37px;
	font-family: "PokerFont", sans-serif;
	color: #b5b5b5;
	font-size: 80px;
	text-decoration: none;
	transition: font-size 0.3s ease;
}
.button:hover {
	font-size: 100px;
 }
	
#title {
	-webkit-text-stroke: 2px black;
	text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
	padding: 0;
	border: none;
	background: none;
	font-family: "PokerFont", sans-serif;
	color: #b5b5b5;
	font-size: 53px;
	text-decoration: none;
	text-align: center;
	position: fixed;
	left: 25%;
	animation: floatAnimation 4.5s ease-in-out infinite;
}
   
@keyframes floatAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  }
  
#startButton {
  -webkit-text-stroke: 2px black;
  text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
	padding: 0;
	border: none;
	background: none;
	font-family: "PokerFont", sans-serif;
	color: #b5b5b5;
	font-size: 53px;
	text-decoration: none;
	transition: font-size 0.3s ease;
	position: fixed;
	bottom: 40px; 
	left: 25%;
	transform: translateX(-50%); 
}
#startButton:hover {
	font-size: 60px;
}

@media screen and (max-width: 500px) {
    #playerHand img,
    #dealerHand img {
        width: 100px;
        margin: 10px;
    }

    .score {
        font-size: 20px;
    }

    .button {
        font-size: 40px;
    }

    #dealButton {
        font-size: 120px;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    #dealButton:hover {
        font-size: 130px;
    }

    #startButton {
        font-size: 40px;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    #startButton:hover {
        font-size: 45px;
    }
}
